<section id="input-section">
  <!--
  <p><input type="text" id="search-input" name="search-input" [(ngModel)]="characterSelected"
      (keypress)="onEnter($event)"></p>
-->
  <div>
    <h2>Rick and Morty Search Image Engine</h2>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label id="label-input">Character</mat-label>
        <input id="text-input" type="text" matInput [formControl]="myControl" (keypress)="onEnter($event)"
          [value]="characterSelected" [(ngModel)]="characterSelected">
      </mat-form-field>
    </form>
  </div>
<!--  <h3> {{characterSelected}}</h3>-->
</section>

<section id="list-section">


  <mat-selection-list #characterList [multiple]="false">
    <mat-list-option *ngFor="let character of characters$ | async" [value]="character.name"
      (click)="optionSelected(character)">
      {{character.name}}
    </mat-list-option>
  </mat-selection-list>
</section>

<section id="image-section">
  <div class="image-container" *ngIf="image">
    <img class="image-circle" [src]="image" alt="Image to be displayed">
  </div>
</section>

<p>
  {{charactersInfo$ |async|json}}<br />
</p>
<!--
<footer>
  <p>2022 code challenge Herlich Gonzalez</p>
</footer>
-->