.form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

h1{
  font-family: 'Creepster', cursive;
}

.full-width {
  width: 100%;
}

.image-circle {
  width: auto;
  height: auto;
  margin: 10px;
  border-radius: 100%;
}

.page-section {
  margin: auto;
  padding: 10px;
}

.vertical-scroll{
  width: auto;
  height: 400px; 
  overflow-y: scroll;
}

.center-title{
  text-align: center;
}